
.ui-button {
	data-corners : false;
}


/* .ui-icon {
	background-image:url("images/icons-36-white.png");
    data-inline: true;
    data-iconshadow: false;
}
  */

/* #more .ui-icon {
    background-color: transparent;
    width: 36px;
    height: 36px;
}
#shop .ui-icon {
	background: url("../img/icons/shoppingcar2.png");
	background-size: 35px 35px;
}
#list .ui-icon {
	background: url("../img/icons/shoppingcar1.png");
	background-size: 35px 35px;
}
#utensils .ui-icon {
	background: url("../img/icons/utensils.png");
		background-size: 35px 35px;
}
#bin .ui-icon {
	background: url("../img/icons/bin.png");
		background-size: 35px 35px;
}
#survey .ui-icon {
	background: url("../img/icons/pencil.png");
	background-size: 35px 35px;
}
#userInfo .ui-icon {
	background: url("../img/icons/profile.png");
	background-size: 35px 35px;
}
#shop2 .ui-icon {
	background: url("../img/icons/shoppingcar2.png");
	background-size: 35px 35px;
}
#list2 .ui-icon {
	background: url("../img/icons/shoppingcar1.png");
	background-size: 35px 35px;
}
#utensils2 .ui-icon {
	background: url("../img/icons/utensils.png");
		background-size: 35px 35px;
}
#bin2 .ui-icon {
	background: url("../img/icons/bin.png");
		background-size: 35px 35px;
}
#survey2 .ui-icon {
	background: url("../img/icons/pencil.png");
	background-size: 35px 35px;
}
#userInfo2 .ui-icon {
	background: url("../img/icons/profile.png");
	background-size: 35px 35px;
}
 */

/* .my-button {
    background-image: url('img/Picture1.jpg') !important;
}

 */
.ui-grid-b input {
    width  : 100%;
    height : 15%;
}

#custom-grid .ui-block-a {
    width: 35% !important;
}

#custom-grid .ui-block-b {
    width: 20% !important;    
}

#custom-grid .ui-block-c {
    width: 45% !important;    
}


.select-class {
	display: block;
	width : 20%;
	
}

.table-title-label {
	font-size:12;
	display: block;
	text-align: center;
}

.fullwidth { width: 100%; }
div.ui-slider{
	width:100%;
 float: left;
  padding: 6px;
  margin: 8px 0;
  margin-left: 1%;
	}
.ui-li-count { 
	padding-right:1; 
	position:static; 
	color: red;
	font: bold;
	text-size: 20px;
}

.badge {
  display: none;
  background: #0B6138; /* #BA070F; */
  color: #fff;
  padding: 1px 7px;
  position: absolute;
  right: 4px;
  top: -12px;
  z-index: 999;
 border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
  border: 2px solid #fff;
}

.ui-badge-container {
  position: relative;
}

/* .ui-icon-abc
{
    background: url(http://glyphish.com/images/demo.png) no-repeat rgba(0, 0, 0, 0.4) !important;
    background-size: 16px 16px;
} */

/* #favorite .ui-icon { 
    background-image: url(http://glyphish.com/images/demo.png);
    background-position: -345px -112px;
    background-repeat: no-repeat;
}
 */
/* 
.ui-icon {
    background-color: transparent;
    width: 35px;
    height: 35px;
} */
/* custom icons do not work!!!!*/


.ui-widget-header
{
	font-size: 12px;
	color:white;
	font:italic;
	align:right;
}


.ui-table-columntoggle-btn {
    display: none !important;
}

.selectedImage{
   border : 3px solid yellow;
}

.ui-select {
	width :  100%;
}

 .scrollable {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }
 
.my-label
{
	display: block;
	background-color:#444444;
	color:white;
	font-size:18px;
	width:70px;
	text-align:center;
}

.ui-hidden-accessible {
    display : none !important;
    width	: 100%;
}


/* Hide the number input */
.full-width-slider input {
    display: none;
}
.full-width-slider .ui-slider-track {
    margin-left: 0px;
}
